body{
    background-color:#f8f8f6;
}

#smart_wacth {
    position: absolute;
    top: 10%;
    left: 35%;
  }
  #clock {
    position: relative;
    display: inline-block;
    left: 47%;
    margin-top: 375px;
    color: #fff;
  }

#date {
    margin-bottom: 15px;
    font-size: 19px;
  }
  #hm {
    margin-left: 8px;
    font-size: 35px;
  }
  #sec {
    font-size: 20px;
    margin-left: 22px;
  }